.feature .icon {
  width: fit-content;
  height: fit-content;
  padding: 1rem;
  color: var(--bs-info);
  box-shadow: inset 2px 2px 8px rgba(55, 94, 148, 0.3),
    inset -3px -2px 5px rgba(255, 255, 255, 0.8);
  border-radius: 12px;
}

.border-hover {
  transition: all 0.4 ease-out;
  border: 2px solid transparent;
}

.border-hover:hover {
  border-color: var(--bs-info);
}
