.header_container {
  padding-right: 2rem;
  /* display: flex;
  justify-content: space-between; */
}

.btn {
  outline: none;
  border: none;
  cursor: pointer;
  width: max-content;
  padding: 1rem;
  height: 4rem;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  color: #fff;
  text-align: center;
  background: var(--primary-light);
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
  transition: 0.5s;
  font-size: 15px;
}
