.sidebar {
  display: flex;
}
.sidebar_card {
  padding: 2rem;
  margin: 1rem;
  height: 100vh;
}

.sidebar_title {
  margin-bottom: 1rem;
}

.sidebar_user_icon {
  width: fit-content;
  height: fit-content;
  padding: 0.5rem;
  color: var(--bs-info);
  box-shadow: inset 2px 2px 8px rgba(55, 94, 148, 0.3),
    inset -3px -2px 5px rgba(255, 255, 255, 0.8);
  border-radius: 12px;
  margin-bottom: 0.5rem;
}

.sidebar_user_text {
  font-size: 20px;
}

#active {
  opacity: 1;
  box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5),
    inset 8px 8px 16px rgba(0, 0, 0, 0.1);
  color: #79e3b6;
}

.sidebar_items {
  display: flex;
  font-size: 15px;
}

a {
  text-decoration: none;
}

main {
  width: 100%;
  padding: 2rem;
}

.logout_icon .btn {
  padding: 1rem;
  margin-top: 4rem;
}

.sidebar_text {
  margin-left: 1rem;
}

#hamburger_icon {
  position: fixed;
  top: 1rem;
  z-index: 1000;
  left: 2rem;
  height: 4rem;
  width: 4rem;
  line-height: 5rem;
  border-radius: 50%;
  font-size: 2rem;
  cursor: pointer;
  text-align: center;
}

#hamburger_icon:hover {
  color: var(--bs-info);
}

#hamburger_icon .btn {
  padding: 0.5rem;
  margin-right: 1rem;
}

@media screen and (max-width: 600px) {
  .sidebar {
    flex-direction: column;
  }

  .sidebar_container .sidebar_card {
    height: fit-content;
    width: fit-content;
    padding: 1.5rem;
    display: flex;
    justify-content: row;
  }

  .sidebar_user {
    margin-left: 4rem;
  }

  .sidebar_user_text {
    font-size: 15px;
  }

  .sidebar_user p {
    font-size: 10px;
  }

  .sidebar_title {
    display: none;
  }

  .sidebar_text {
    display: none;
  }

  .sidebar_container ul {
    padding: 1rem;
    display: flex;
    flex-direction: row;
  }

  .sidebar_items {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ul .btn {
    padding-bottom: 0;
    margin: 1rem;
  }

  .logout_icon {
    padding: 0.5rem;
  }

  #hamburger_icon {
    display: initial;
  }
}
