.product_image {
  width: 100%;
  height: 100%;
  max-height: fit-content;
  padding: 1rem;
  border-radius: 3px;
  overflow: hidden;
  transition: all 0.3s;
}

.product_image img {
  width: 70%;
  border-radius: 18px;
}

.product_avail {
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin-top: 1rem;
}

.avail_text {
  margin-left: 0.5rem;
  font-size: 20px;
}

.table-header-row {
  text-align: left;
}
