.product_list_card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

/* .table {
  overflow-x: auto;
} */

.search_form {
  margin-left: 1rem;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 1rem;
}

.table_icons {
  display: flex;
}

.table_icons span {
  margin-left: 0.5rem;
}

@media screen and (max-width: 1024px) {
  .product_list_card {
    grid-template-columns: 1fr;
    gap: 1.2rem;
  }
}

@media screen and (max-width: 600px) {
  .product_list_card {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
