nav {
  padding: 1rem 2rem;
  margin: 1.5rem;
  display: flex;
  justify-content: space-between;
  border-radius: 40px;
  background: #ecf0f3;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
}

.logo {
  display: flex;
  align-self: center;
}

.container--links {
  display: flex;
}

.login-btn {
  margin-top: 0.9rem;
  padding: 1.5rem;
  width: fit-content;
  text-align: center;
}

.started-txt {
  color: var(--light-bg);
}

.register {
  margin-top: 0.7rem;
  padding-right: 1rem;
  margin-right: 1rem;
}

.landing {
  padding-top: 4rem;
}

.landing-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
  padding: 1rem;
}

.landing-text {
  padding-right: 1rem;
}

.landing-image {
  border-radius: 10px;
}

@media screen and (max-width: 1024px) {
  .landing-container {
    grid-template-columns: 1fr;
    gap: 1.2rem;
  }
}

@media screen and (max-width: 600px) {
  .landing-container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .landing-image {
    padding-top: 1rem;
    margin: 0;
  }
}
